 /* 下雨部分 */
 .rainBox {
     position: fixed;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     /* 作为背景不阻挡其他元素事件触发 */
     pointer-events: none;
     z-index: 2;
 }

 .rain {
     z-index: 2;
     position: absolute;
     width: 2px;
     height: 50px;
     /* 渐变 */
     background: linear-gradient(rgba(255, 255, 255, .3), rgba(255, 255, 255, .6));
 }

 /* 下雨部分结束 */